// Lucky-colors
$bg-grey: #373a3c;
$button-orange: #f49542;
$text-color-light: #eceeef;
$legendary-orange: $button-orange;
$epic-purple: #a335ee;
$rare-blue: #0070dd;
$artifact-color: #e5cc80;
$uncommon-green: #1eff00;
$heirloom-blue: #0cf;

// Body
$body-bg: $bg-grey;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #000; //#eceeef;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$btn-default-bg: $button-orange;
$btn-default-border: darken($button-orange, 15%);
$btn-font-weight: bold;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Tables
$table-border-color: darken($bg-grey, 5%);
$table-bg-hover: lighten($bg-grey, 10%);

