
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// WOW Class Colors
@import "classcolors";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@-webkit-keyframes fadeIt {
  100% { background-color: $bg-grey; }
  0%   { background-color: $brand-success; }
}
@-moz-keyframes fadeIt {
  100% { background-color: $bg-grey; }
  0%   { background-color: $brand-success; }
}
@-o-keyframes fadeIt {
  100% { background-color: $bg-grey; }
  0%   { background-color: $brand-success; }
}
@keyframes fadeIt {
  100% { background-color: $bg-grey; }
  0%   { background-color: $brand-success; }
}

th.sort-container {
  cursor: pointer;
  position: relative;
}

i.sort-icon-asc {
  font-size: 10px;
  position: absolute;
  right: 2px;
  top: 10px;
  color: darken($text-color-light, 50%);
}

i.sort-icon-desc {
  font-size: 10px;
  position: absolute;
  right: 2px;
  bottom: 11px;
  color: darken($text-color-light, 50%);
}

i.sort-active {
  color: $text-color-light;
}

.sort-active-column {
  background-color: lighten($bg-grey, 5%);
}

.update-table-item-success {
  background-image:none !important;
  -webkit-animation: fadeIt 1.2s ease-out;
  -moz-animation: fadeIt 1.2s ease-out;
  -o-animation: fadeIt 1.2s ease-out;
  animation: fadeIt 1.2s ease-out;
}

.container-fluid, .container {
  padding-top: 40px;
}

.left-border {
  border-left: 1px $table-border-color solid;
}

.right-border {
  border-right: 1px $table-border-color solid;
}

#logo {
  color: $text-color-light;
  font-size: 70px;

  span {
    color: $button-orange;
    font-weight: 900;
  }
}

table {
  color: $text-color-light;
  border: 1px solid $table-border-color;

  th {
    background-color: darken($bg-grey, 3%);
  }
}

.loader {
  @extend .row;
  color: $text-color-light;
}

.float-right {
  float: right;
}

col.guild-info {
  width: 10%;
}

col.guild-name {
  width: 15%;
}

.table-overhead {
  th {
    @extend .text-center;
  }
}

.form-control {
  border: 1px solid #adadad;
}

.loading-message, .error-message {
  @extend .clearfix;
}

section {
  @extend .col-xs-12;
}

.message-wrapper, .logo-container {
  @extend .col-xs-12;
  @extend .text-center;
}

.guild-search {
  @extend .row;

  [class*="col-"] {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
}

header, .wow-data-container {
  @extend .row;

  margin-bottom: 50px;
}

.guild-search-container {
  @extend .row;

  margin-bottom: 80px;
  section {
    @extend .col-xs-12;
    @extend .col-md-4;
    @extend .col-md-offset-4;
  }
}

.guild-list-table, .character-list-table {
  @extend .table;
  @extend .table-condensed;
}

.character-list-table {
  tr:hover {
    td {
      background-color: $table-bg-hover !important;
    }
  }
}

.character-list-input {
  @extend .input-group;

  a, button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-sm;
  }

  input {
    @extend .form-control;
    @extend .input-sm;
  }
}

.character-list-buttons {
  @extend .input-group-btn;
}

.list-button {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-xs;

  float: right;
}

button.nav-active-button {
  background-color: darken($button-orange, 10%);
}
